
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}


img {
  height: 20vh;
}

.edit-social-links {
  margin-top: 20vh;
}
